#Cform{
margin-left:auto;
margin-right:auto;
}
#Ccontainer{
width:auto;
height:auto;
margin:10px;
border:1px solid #CCCCCC;
}
#Ccontainer p{margin:5px;}
#Chead{
width:auto;
background:#C4E6E4;
border-bottom:1px solid #CCCCCC;
height:19px;
}
#Chead a:link, a:active, a:visited{
color:#333333;
text-decoration:underline;
}
#Chead a:hover{
color:#C4E6E4;
text-decoration:none;
background:#333333;
}

.Csubject{ float:left;}
hr.Lclear{ clear:inherit; visibility:hidden;}
.Cname{ float:right;}
hr.clear{ clear:both; visibility:hidden;}

