AddDefaultCharset UTF-8

RewriteEngine On
RewriteRule ^thread(\/([0-9]+))?(\/.*)?\/?$ index.php?p=thread&id=$2
RewriteRule ^threads(\/(discussions|projects|advice|meaningless))?\/?$ index.php?p=thread&category=$2



