<?xml version="1.0" encoding="UTF-8"?>
<!--
	see: http://www.phpunit.de/manual/3.5/en/organizing-tests.html#organizing-tests.xml-configuration
-->
<phpunit
    bootstrap="./init.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    syntaxCheck="false"
    stopOnFailure="true"
    >

    <testsuites>
		<testsuite name="Audicious">
			<directory>./Audicious/</directory>
        </testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="./log/report" charset="UTF-8"
			yui="true" highlight = "true" lowUpperBound="50" highLowerBound="80" />
		<log type="testdox" target="./log/testdox.html" />
    </logging>

    <php>
        <ini name="max_execution_time" value="60"/>
        <ini name="memory_limit" value="512M"/>
        <ini name="html_errors" value="Off"/>
    </php>
</phpunit>

