form{
margin:0px;padding:0px;
}
img{
border:0px;
}
body,div,td,input,select,textarea{
font-family:Arial;font-size:12px;color:#494949;
}
a{color:#494949;}
a:hover{color:#ffffff;background-color:#494949;}


code {
	font-family: 'Courier New',monospace;
	font-size: 9pt;
	color: #000000;
	white-space: pre;
}

.formtitle{font-size:16px;font-weight:bold;margin-bottom:6px;border-top:1px dotted #959595;padding-top:12px;margin-top:12px;}

.formcontent input {font-size:16px;width:350px;padding:4px;}

.eightpx{font-size:8px;}
.ninepx{font-size:9px;}
.tenpx{font-size:10px;}
.elevenpx{font-size:11px;}
.black {color:#000000;}
.greya{color:#959595;}
.greya:hover{color:#ffffff;background-color:#959595;}
.lightgreya{color:#CCCCCC;}
.lightgreya:hover{color:#ffffff;background-color:#CCCCCC;}
.pinka{color:#ED135A;}
.pinka:hover{color:#ffffff;background-color:#ED135A;}
.whitea{color:#ffffff;}
.whitea:hover{color:#494949;background-color:#ffffff;}
.grey{color:#959595;}
.contentblock{margin-top:15px;margin-bottom:15px;}
.avatar{
	padding:2px;width:16px;
}
.avatar a:hover { background:none;}
.title16{font-size:16px;}
.title14{font-size:14px;}
.nou{text-decoration:none;}
.sup{margin-bottom:3px;}
.bold{font-weight:bold;}

.paging{padding:4px;color:#7E7E7E;float:left;}
.paging a{color:#7E7E7E;}
.pagea{color:#494949 !important;display:block;float:left;margin-right:5px;padding:2px 4px 2px 4px;border:1px solid #7E7E7E;text-decoration:none;font-size:8px;height:8px;line-height:8px;text-align:center;}
.pagea.selected{background-color:#7E7E7E;color:#ffffff;}
.pageelipsa{display:block;float:left;margin-right:5px;padding:2px;font-size:11px;height:8px;line-height:14px;text-decoration:none;}
.pageelipsa:hover{text-decoration:none;}


.error{
	font-size:10px;
	background:#FFFFEE;
	padding:15px;
	border:1px solid #ED135A;
	line-height:15px;
	margin-top:20px;
	margin-bottom:20px;
	width:400px;
	font-size:11px;
}
.error ul{
	margin:5px;padding:0px;
}
.error li{
	margin-left:15px;padding:0px;
}

.ignorecontainer{
padding-bottom:2px;
}
.ignorecontainer a{
margin:2px 0px 0px 0px;
display:block;
height:5px;
overflow:hidden;
background-image:url(/imgs/ignorebg.gif);
}
.ignorecontainer a:hover{
background-color:#ffffff;
}
.mininavbox{
width:80px;
border:1px dotted #8A8A8A;
padding:8px;
background-color:#F4F4F4;
line-height:14px;
}
.threadadmin{
margin-top:12px;
}
.postthread{
padding:4px;
background-color:#E6F7FE;
float:right;
}
.ignorenotify{
margin-left:10px;
padding:4px;
background-color:#FAA4A4;
float:right;
}
.naughty{width:26px;height:26px;float:left;background-image:url(/imgs/naughty.gif);margin-right:8px;margin-top:2px;}


#navigation{position:absolute;left:25px;top:25px;width:200px;}
#navlogo{
margin-bottom:15px;
}
#navlogo a:hover{background:none;}
#navuser{
border:1px dotted #959595;
padding:10px;
margin-bottom:15px;
}
#navusername{margin-bottom:6px}
#navuseravatar, .postuseravatar{float:left;margin-right:6px;}

#navuserlogin td{font-size:9px;}
#navuserlogin input{font-size:9px;}
#navuserlogin table{margin-top:4px;}



#navmessages{
background-color:#FEF6EA;padding:10px;margin-bottom:15px;
line-height:15px;
}
#navmessagesicon, #navinviteicon {float:left;padding-top:1px;width:12px;margin-right:6px;}
#navthreadstitle{font-size:20px;margin-bottom:4px;}
#navthreads{
background-color:#E9F8FE;padding:10px;margin-bottom:15px;
}
#navthreadsummary{border-bottom:1px dotted #959595;padding-bottom:7px;margin-bottom:7px;}
#navthreadsummary div{color:#777777;margin-bottom:5px;}
#navthreadother{border-bottom:1px dotted #959595;padding-bottom:7px;margin-bottom:7px;}
#navtogglehtml{border-top:1px dotted #959595;padding-top:7px;margin-top:7px;font-size:10px;color:#EDF5E1;}
#navthreadother div{margin-bottom:4px;}
#navthreadsearch div{font-size:11px;}
#navthreadsearch div input, #addtagbutton{font-size:10px;}
#navbuddies{
background-color:#EDF5E1;padding:10px;margin-bottom:15px;
}
#navbuddiestitle,#navtagstitle,#navbuddiesonline,#navtagslist{margin-bottom:3px;}
#navtags{
background-color:#FFFCD6;padding:10px;margin-bottom:15px;
}

.taglist_item a {font-size:10px;}
.taglist_item {display:block;float:left;margin-right:4px;margin-bottom:4px;border:1px solid #E1E1E1;}
.taglist_item_a{display:block;float:left;padding:2px;background-color:#ffffff;}
.taglist_item a:hover {background-color:#494949;}
.taglist_item_delete{ 
display:block;float:left;padding:2px;
background-color:#FEF6EA;
text-decoration:none;
}

#navtagsaddform { display:none; }
#addtag {width:105px;}


#content{
margin-top:25px;
margin-left:240px;
padding-right:25px;
padding-bottom:50px;
}

#threadcrumbs a{
padding: 4px;background-color:#E9F8FE;
}
#threadcrumbs a:hover{
padding: 4px;background-color:#494949;
}
.titleinput{font-size:24px;font-weight:bold;width:230px;}

.fullpagetitle div{font-size:24px;font-weight:bold;line-height:40px;}
.fullpagetitle{
height:40px;
font-size:24px;font-weight:bold;
line-height:40px;
margin-bottom:15px;
border-bottom:1px dotted #959595;
padding-top:51px;
border-bottom:1px dotted #959595;
margin-bottom:15px;
}
#threadcrumbs{
margin-top:55px;
line-height:21px;
}
.pagetitle{
font-size:24px;
line-height:40px;
font-weight:bold;
}
#threadtitle{
border-bottom:1px dotted #959595;
}
#threadnav{
height:29px;
border-bottom:1px dotted #959595;
padding-top:20px;
}
#threadfooter{
height:29px;
border-bottom:1px dotted #959595;
margin-bottom:15px;
padding-top:15px;
}

#previewdiv{border:1px solid #bbbbbb;padding:15px;margin:15px;margin-left:135px;}
.clear{clear:both;} 

.row0{background-color:#A0C79A;}
.row1{background-color:#B4D6B5;}
.rowbuddy{background-color:#EDF5E1;}
.blueline{height:1px;background-color:#ACE1F9;overflow:hidden;}
.naughtyrow .threadlisttitle b a,.naughtyrow .threadlisttitle b{color:#F06171;}
.ignorerow{background-color:#FFEAEA;}
.enemya{background-color:#FAA4A4;color:#ffffff;}
.enemya:hover{background-color:#FAA4A4;}
.buddya{background-color:#EBF4DD;font-weight:bold;}
.buddya:hover{background-color:#EBF4DD;}
.buddy{background-color:#EBF4DD;} 
.enemy{background-color:#FFEAEA;}
.user{background-color:#F4F4F4;}

#navuserlogin{padding:10px;background-color:#494949;margin-bottom:15px;min-height:110px;}
#navuserjoin,#navuserjoinlink{margin-bottom:6px;}
.white{color:#ffffff;}
#navuserjoinform div{height:21px;padding-top:3px;}
.navlogininput{font-size:10px;width:90px;}
.lightpink{color:#FAA4A4;}

#post_preview{border:1px solid #AEAEAE;padding:15px;margin-bottom:15px;}
.pagedescription{font-size:12px;padding-top:8px;}
.bottomdashed{border-bottom:1px dotted #959595;}
.bottomblue{border-bottom:1px solid #ACE1F9;}


.form_left{float:left;width:100px;font-size:10px;line-height:20px;}
.form_label{font-size:10px;}
.pref_table tr td{padding-top:4px;padding-bottom:4px;}


.blue{color:#00AEEF;}

#threadheaders{
border-bottom:1px solid #bbbbbb;
}
#threadheaders div {line-height:27px;color:#7E7E7E;font-size:9px;}
.threadlisttitle{width:52%;}
.threadlistposted{width:20%;}
.threadlistposts{width:5%;}
.threadlistfaves{width:3%;}
.threadlistfaves a:hover{background:none;}
.threadlistelement{line-height:16px;float:left;}
.thread{
margin-top:2px;
padding-top:6px;
padding-bottom:6px;
margin-bottom:2px;
padding-left:6px;
}



.threadlistelement div a{
display:inline;float:none;border:none;color:#959595;margin:0px;padding:0px;line-height:none;
}
.threadlistelement div a:hover{
}
