AddDefaultCharset UTF-8

RewriteEngine On

RewriteBase /web/

# deny other requests than GET and POST
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS|HEAD) [NC]
RewriteRule .* - [F]

RewriteRule ^logout$ index.php?p=logout

RewriteRule ^thread\/new$ index.php?p=postthread
RewriteRule ^thread\/bookmark\/([0-9]+)\/?$ index.php?p=addfav&id=$1
RewriteRule ^thread(\/([0-9]+))?(\/.*)?\/?$ index.php?p=thread&id=$2
RewriteRule ^threads(\/(discussions|projects|advice|meaningless))?\/?$ index.php?p=thread&category=$2

RewriteRule ^inbox\/new\/?$ index.php?p=sendmessage
RewriteRule ^inbox(\/([0-9]+))?\/?$ index.php?p=inbox&id=$2
RewriteRule ^inbox\/delete\/([0-9]+)\/?$ index.php?p=deletemessage&id=$1

RewriteRule ^user\/invites\/?$ index.php?p=invite
RewriteRule ^user\/profile(\/([0-9]+))?\/?$ index.php?p=profile&id=$2
RewriteRule ^user\/friends\/(add|accept)(\/([0-9]+))?\/?$ index.php?p=addmaytie&action=$1&id=$3



